<div id="app" class="reader-app">
    <header class="clearfix header">
        <div class="pull-right profile">
            <ul class="header-service-menu">
                <li><a href="http://aol.com?icid=aolreader" target="_blank" class="service-icon home"></a><span
                        class="service-tip">AOL.com</span></li>
                <li><a href="http://mail.aol.com?icid=aolreader" target="_blank" class="service-icon mail"></a><span
                        class="service-tip">Mail</span></li>
                <li><a href="http://on.aol.com?icid=aolreader" target="_blank" class="service-icon video"></a><span
                        class="service-tip">AOL On</span></li>
                <li><span class="service-icon rss"></span><span class="service-tip">Reader</span></li>
                <!-- <li><a href="http://www.aol.com/favorites?icid=aolreader" class="service-icon heart"></a><span class="service-tip">Favorites</span></li> -->
            </ul>
            <div class="header-user-menu">
                <div class="profile-handle">Maruf</div>
                <div class="profile-options dropdown"><a href="#" class="logout">Sign Out</a> | <a href="#"
                                                                                                   class="options"
                                                                                                   data-toggle="dropdown">About<span
                        class="icon-down"></span>
                    <ul class="dropdown-menu menu-theme" role="menu" aria-labelledby="dLabel" data-layout-type="list">
                        <li class="dropdown-menu-option tos"><i class="icon-file-doc"></i><span>Terms of Service</span>
                        </li>
                        <li class="dropdown-menu-option policy"><i class=" icon-lock"></i><span>Privacy Policy</span>
                        </li>
                        <li class="dropdown-menu-option ads"><i class="icon-browser-ad"></i><span>About our ads</span>
                        </li>
                    </ul>
                </a>

                    <p></p>
                </div>

            </div>
        </div>
        <span class="beta-icon"></span>
        <a class="pull-left app-logo" href="#home">Aol Reader.</a>

        <div class="searcher">
            <form>
                <button class="search-aol pull-right"><i class="icon-search"></i>Web</button>
                <div class="header-search-wrap"><input type="search" class="search"></div>
                <!-- <button><i class="icon-search"></i>Feed</button> -->
            </form>
        </div>
    </header>
    <div id="content-container" class="clearfix">
        <div id="reader-container">
            <div id="feed-content" class="feed-content">
                <div class="article-container clearfix">
                    <div id="feed-details" class="feed-header clearfix">
                        <div class="pull-right btn-group-wrap">
                            <div class="btn-group dropdown">
            <span class="btn-icon with-tip" data-toggle="dropdown" title="" data-original-title="View Options"><i
                    class="icon-view"></i><i class="icon-down caret"></i>
                <ul class="dropdown-menu layout-selection" role="menu" aria-labelledby="dLabel">
                    <li class="dropdown-menu-header">Layout</li>
                    <li class="dropdown-menu-option active" data-layout-type="list"><i class="icon-view-list"></i><span>List View</span>
                    </li>
                    <li class="dropdown-menu-option" data-layout-type="card"><i class="icon-view-card"></i><span>Card View</span>
                    </li>
                    <li class="dropdown-menu-option" data-layout-type="full"><i class="icon-view-article"></i><span>Full View</span>
                    </li>
                    <li class="dropdown-menu-option" data-layout-type="pane"><i class="icon-view-pane"></i><span>Pane View</span>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-menu-header">View</li>
                    <li class="dropdown-menu-option" data-xt=""><i class="checkmark "></i><span>All Items</span></li>
                    <li class="dropdown-menu-option" data-xt="user/-/state/read"><i
                            class="checkmark  active "></i><span>Unread Only</span></li>

                    <li class="divider"></li>
                    <li class="dropdown-menu-header">Sort</li>
                    <li class="dropdown-menu-option" data-sort="o"><i class="checkmark "></i><span>Oldest First</span>
                    </li>
                    <li class="dropdown-menu-option" data-sort="n"><i
                            class="checkmark  active "></i><span>Newest First</span></li>
                </ul>
            </span>
                            </div>
                            <div class="btn-group layout-selection dropdown">
            <span class="btn-icon article-toggle-read-all with-tip" title="" data-original-title="Mark all as read"><i
                    class="icon-mark-all"></i></span>
                                <span class="sep"></span>
            <span class="btn-icon btn-icon-caret" data-toggle="dropdown">
                <i class="icon-down caret"></i>
                <ul class="dropdown-menu mark-as-read" role="menu" aria-labelledby="dLabel" data-layout-type="list">
                    <li class="dropdown-menu-header">Mark as Read</li>
                    <li class="dropdown-menu-option dropdown-menu-option-indent" data-mark-read="all">All</li>
                    <li class="dropdown-menu-option dropdown-menu-option-indent" data-mark-read="day">Older Than One
                        Day
                    </li>
                    <li class="dropdown-menu-option dropdown-menu-option-indent active" data-mark-read="week">Older Than
                        One Week
                    </li>
                </ul>
            </span>
                            </div>
                            <div class="btn-group">
            <span class="btn-icon article-prev with-tip" title="" data-original-title="Previous Article"><i
                    class="icon-up"></i></span>
            <span class="btn-icon article-next with-tip" title="" data-original-title="Next article"><i
                    class="icon-down"></i></span>
                            </div>
                        </div>
                        <h2>All <span class="count">19287 Unread articles</span></h2>
                    </div>
                    <div class="article-list" data-label="Loading">

                        <article class="article-item article-item-list clearfix article-item-rendered"><span
                                class="timeago">3min</span>
                            <span class="icon-star article-toggle-starred with-tip" title=""
                                  data-original-title="Star"></span>

                            <p class="origin">Treasureland of Heroturko</p>

                            <p class="title">Digital Tutors - Enhancing Your Rigs with Driven Keys in Maya 2014 with
                                Delano
                                Athias</p>

                            <p class="content">Digital Tutors - Enhancing Your Rigs with Driven Keys in Maya 2014 with
                                Delano
                                AthiasEnglish |
                                Audio: aac, 44100 Hz, stereo (und)MP4 | Video: h264, yuv420p, 1280x720, 15.00 fps(r)
                                (und) |
                                1.04 GBGenre: Video
                                Training</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav pull-left">
            <center class="nav-controls clearfix">
    <span class="edit-done btn-icon btn-icon-primary pull-left with-tip" title="" data-original-title="Done"><i
            class="icon-left"></i></span>
    <span class="refresh-feed btn-icon pull-left with-tip" title="" data-original-title="Refresh"><i
            class="icon-reload"></i></span>
    <span class="add-feed btn-icon pull-left with-tip" title="" data-original-title="Add Subscription"><i
            class="icon-add"></i></span>
    <span class="dropdown pull-right"><span class="btn-icon pull-right with-tip" data-toggle="dropdown" title=""
                                            data-original-title="Reader Options">
        <i class="icon-menu"></i><i class="icon-right caret"></i>
        <ul class="dropdown-menu menu-settings" role="menu" aria-labelledby="dLabel">
            <li class="dropdown-menu-option settings"><i class="icon-settings"></i><span>Settings</span></li>
            <li class="dropdown-menu-option organize"><i class="icon-organize"></i><span>Organize</span></li>
            <li class="dropdown-menu-option shortcuts"><i class="icon-shortcuts"></i><span>Shortcuts</span></li>
            <li class="dropdown-menu-option import hide-on-touch"><i class="icon-file-up"></i><span>Import</span></li>
            <li class="divider"></li>
            <li>
            </li>
            <li class="dropdown-menu-option feedback"><i class="icon-feedback"></i><span>Feedback</span></li>
            <li class="dropdown-menu-option help"><i class="icon-help"></i><span>Help</span></li>
        </ul>
    </span></span>
            </center>
            <ul id="category-list" class="nav-list cat-nav-list">
                <li id="label-home" class="list-menu-item clearfix">
                    <div class="cat-label">
                        <span class="count category-count pull-right"></span>
                        <span class="icon-home nav-icon"></span>
                        <span class="category-item" data-list-id="home">Home</span>
                    </div>

                </li>
                <li id="label-starred" class="list-menu-item clearfix">
                    <div class="cat-label">
                        <span class="count category-count pull-right"></span>
                        <span class="icon-star nav-icon"></span>
                        <span class="category-item" data-list-id="user/34590/state/starred">Starred</span>
                    </div>

                </li>
                <li id="label-latest" class="list-menu-item clearfix has-count">
                    <div class="cat-label active">
                        <span class="count category-count pull-right">999+</span>
                        <span class="icon-all nav-icon"></span>
                        <span class="category-item" data-list-id="user/34590/state/reading-list">All</span>
                    </div>

                </li>
                <li ng-repeat="blog in blogs" id="label-lea-verou" class="list-menu-item list-menu-item-feed clearfix">
                    <div class="feed-label feed-item">
                        <span class="count feed-count pull-right">0</span>
                        <span class="favicon nav-icon"
                              style="background-image: url(//s2.googleusercontent.com/s2/favicons?domain=lea.verou.me&amp;alt=feed)"></span>

                        <div class="subscription-item" data-list-id="feed/-uw3Vm">{{ blog }}</div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>